:root {
  --color-blue-01: hsl(243 100% 7% / 1);
  --color-blue-02: hsl(240 92% 25% / 1);
  --color-blue-03: hsl(213 68% 41% / 1);
  --color-blue-04: hsl(213 74% 46% / 1);
  --color-blue-05: hsl(213 100% 64% / 1);
  --color-blue-06: hsl(213 100% 68% / 1);
  --color-blue-07: hsl(214 89% 73% / 1);
  --color-blue-08: hsl(214 92% 82% / 1);
  --color-blue-09: hsl(214 96% 89% / 1);
  --color-pink-01: hsl(292 80% 7% / 1);
  --color-pink-02: hsl(292 92% 25% / 1);
  --color-pink-03: hsl(293 68% 41% / 1);
  --color-pink-04: hsl(293 74% 46% / 1);
  --color-pink-05: hsl(294 100% 64% / 1);
  --color-pink-06: hsl(293 100% 68% / 1);
  --color-pink-07: hsl(294 89% 73% / 1);
  --color-pink-08: hsl(294 92% 82% / 1);
  --color-pink-09: hsl(294 96% 89% / 1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

:focus-visible {
  outline: 2px solid var(--color-blue-05);
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.4;

  background-color: var(--color-blue-01);
  background-image: radial-gradient(
    circle,
    var(--color-blue-03) 0%,
    var(--color-blue-02) 35%,
    var(--color-blue-01) 100%
  );
  color: var(--color-blue-09);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.button {
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: var(--color-pink-04);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: hsl(0 0% 100%);
}

.button:hover {
  background-color: var(--color-pink-03);
}

.button:focus-visible {
  outline-offset: 2px;
}

.button[aria-disabled="true"] {
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.search-route {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.combobox-wrapper {
  position: relative;
  width: 20rem;
  display: flex;
  align-items: center;
}

.combobox {
  width: 100%;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--color-blue-01);
  color: hsl(0, 0%, 100%);
}

.combobox::placeholder {
  color: var(--color-blue-08);
}

.combobox:focus-visible {
  outline-width: 2px;
  outline-style: solid;
}

.popover {
  max-height: min(var(--popover-available-height, 300px), 300px);
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border: 1px solid var(--color-blue-02);
  background-color: var(--color-blue-01);
  padding: 0.5rem;
  color: hsl(0 0% 100% / 1);
  outline: 2px solid transparent;
  outline-offset: 2px;
  filter: drop-shadow(0 4px 6px hsl(0 0% 0% / 0.4));
}

.combobox-item {
  outline: none !important;
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.combobox-item:hover {
  background-color: var(--color-blue-03);
}

.combobox-item[data-active-item] {
  background-color: var(--color-blue-04);
}

.spinner {
  height: 1rem;
  width: 1rem;
  animation: spin 1s infinite linear;
  position: absolute;
  top: 0.75rem;
  stroke: currentColor;
  right: 0.75rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
